.chatMain_container {
    width: 80%;
    height: 470px;
    margin: auto;
    margin-top: 40px;
    border: 2px solid rgb(48, 110, 23); 
    padding: 10px;
    position: relative;
}
.content_container{
    border: 2px solid rgb(60, 109, 109);
    width: 70%;
    height: 42vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5vh;
    overflow: auto;
    position: relative;
}
.content_container::-webkit-scrollbar {
    width: 4px;
}

.content_container::-webkit-scrollbar-thumb {
    background-color: #363938; 
    border-radius: 4px; 
}

.content_container::-webkit-scrollbar-track {
    background-color: #E0E0E0; 
    border-radius: 4px; 
}

.content_container::-webkit-scrollbar-thumb:hover {
    background-color: #0D7165;
}

.inputs_Wrappers {
    padding-right: 0.5vh;
    display: flex;
    justify-content: end;
}
.send_messages{ 
    width: auto;
    height: auto;
    background-color: rgb(117, 95, 95);
    border-radius: 1vh;
    padding: 5px;
    margin-top: 0.5vh;
    font-size: 0.8rem;
    display: inline-block;
    word-wrap: break-word;  
    position: relative;
    max-width: 65%;
    text-align: match-parent;
}
.input_container{
    height: auto;
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
}
.input_container input {
    height: 3vh;
    width: 23vh;
    outline: none;
    border: 1px solid green;
    padding: 2px 10px;
    cursor: text;
}
.submit_btn{
    padding: 0;
    border: none;
    cursor: pointer;
}
.send_icon {
    margin-left: 0.5vh;
    font-size: 2.5vh;
    color: rgb(10, 120, 171);
}


/** Dark Mode */ 

.dark_chatMain_container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    height: 470px;
    border: 2px solid rgb(48, 110, 23); 
    padding: 10px;
    position: relative;
    background-color: rgb(50, 57, 57);
}